header {
    margin: 0;
    padding: 0 1em 0 1em;
    height: 7%;
    
    color: white;
    background: #3f51b5;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .fill-remaining-space {
        flex: 1 1 auto;
    }
}