<div class="attendee-table-container mat-elevation-z8">
    <md-table  #table [dataSource]="attendeeDataSource" class="attendee-table">
      <ng-container mdColumnDef="id" >
        <md-header-cell *mdHeaderCellDef class="attendee-header-cell" > ID </md-header-cell>
        <md-cell *mdCellDef="let attendee" class="attendee-cell">{{attendee.id}}</md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="firstname">
        <md-header-cell *mdHeaderCellDef class="attendee-header-cell"> FIRSTNAME </md-header-cell>
        <md-cell *mdCellDef="let attendee" class="attendee-cell"> {{attendee.firstname}} </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="lastname">
        <md-header-cell *mdHeaderCellDef class="attendee-header-cell"> LASTNAME </md-header-cell>
        <md-cell *mdCellDef="let attendee" class="attendee-cell"> {{attendee.lastname}} </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="email">
        <md-header-cell *mdHeaderCellDef class="attendee-header-cell"> EMAIL </md-header-cell>
        <md-cell *mdCellDef="let attendee" class="attendee-cell">{{attendee.email}}</md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="['id', 'firstname', 'lastname', 'email']" class="attendee-header-row"></md-header-row>
      <md-row *mdRowDef="let attendee; columns: ['id', 'firstname', 'lastname', 'email'];" class="attendee-row"></md-row>
    </md-table>
  </div>
  