footer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    height: 7%;
    padding: 0 1em 0 1em;

    color: white;
    background: #3f51b5;
  
    .logo {
      height: 3em;
    }
}